.ui-pagination {font-size: 14px; line-height: 24px;}
.ui-page {display:inline-block; margin:0 4px; padding: 0 6px;  border: 1px solid #ddd; background:#f0f0f0; color: #666; text-decoration:none}
.ui-page:hover {border: 1px solid #ccc; background: #eee;}
.ui-page.current {font-style:normal; font-weight:bold;border:none; background:none;padding:0 5px;}
.ui-page.disabled, .ui-page.disabled:hover {border-color:#ddd;color:#bbb;background:#eee;cursor:default;}

.ui-pagination .total {
    margin-right: 10px;
}

.ui-pagination .total em {
    font-style: normal;
}

.ui-pagination .config-ps {
    margin-left: 10px;
}
